<h2><%= t('activerecord.attributes.user.log_in') %></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="form-inputs">
    <%= f.input :login,
                required: true,
                autofocus: true %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} #{ t("simple_form.labels.defaults.characters")}"if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :remember_me, as: :boolean, inline_label: "Remember me", class: "checkbox inline" if devise_mapping.rememberable? %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, t('activerecord.attributes.user.log_in'), class: "btn btn-large btn-success", "data-disable-with" => "Submitting.."%>
  </div>
  
  <% end %>

<%= render "users/shared/links" %>
