<%= simple_form_for @user, html: {multipart: true}, wrappers: :horizontal_multi_select do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.input :image, 
                label: t('activerecord.attributes.user.avatar'),   
                class: 'form-control mx-1', 
                error_class: 'is-invalid', 
                valid_class: 'is-valid' %>

    <%= f.input :username, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>
    <%= f.input :phone_number, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>
    <%= f.input :email, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>
  </div>

  <div class="actions">
    <%= f.button :submit, t('activerecord.attributes.user.save'), class: 'btn btn-primary' %>
    <%= t('activerecord.attributes.user.or') %>
    <%= link_to t('activerecord.attributes.user.back'), :back, class: 'btn btn-primary' %>
  </div>
<% end %>
