<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="text-center">
  <% if @user == current_user %>
    <%= link_to t('activerecord.attributes.user.edit_profile'), edit_user_path(@user), class: 'btn btn-primary buffer-right' %>
    <%= link_to t('activerecord.attributes.user.delete_profile'), @user,
              data: { turbo_method: :delete, turbo_confirm: t('activerecord.attributes.user.delete_profile_confirm')},
              class: "btn btn-danger" %>
  <% else %>
    <p><%= t('activerecord.attributes.user.current_user')%></p>
  <% end %>
</div>
