<%= simple_form_for @doctor_profile, html: {multipart: true}, wrapper: :vertical_multi_select do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @doctor_profile} %>

  <div class="form-group">
    <%= f.input :categories,
                as: :select,
                collection: I18n.locale == :ua ? Category.all.map(&:name_ua) : Category.all.map(&:name_en),
                required: true,
                autofocus: true,
                input_html: { autocomplete: 'category' }%>

    <%= f.input :description,
                 as: :text,
                 autofocus: true,
                 input_html: { rows: 25, cols: 70 } %>
  </div>
  <div class="actions">
    <%= f.button :submit, t('activerecord.attributes.doctor_profile.save'), class: 'btn btn-primary' %>
    <%= t('activerecord.attributes.doctor_profile.or') %>
    <%= link_to t('activerecord.attributes.doctor_profile.back'), :back, class: 'btn btn-primary' %>
  </div>
<% end %>
