<section class="vh-10" style="background-color: <%= cookies[:theme] %>;">
  <div class="container py-3">
  <h3 class="text-muted mb-1"><%= t('view.doctors') %>:</h3>
  <% @doctor_profiles.each do |doctor| %>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card mb-5" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex justify-content-start align-items-center">
              <%= link_to doctor.user.username.humanize, doctor, class: "btn justify-content-start mb-6" %>
              <p class="mb-0 text-uppercase"><i class="fas fa-link ms-4 me-2"></i> <span
                  class="text-muted small"><%= doctor.user.phone_number %></span></p>
              <p class="mb-0 text-uppercase"><i class="fas fa-ellipsis-h ms-4 me-2"></i> <span
                  class="text-muted small"><%= doctor.user.email %></span>
                <span class="ms-3 me-4">|</span></p>
              <a>
              <%# avatar %>
              <% if doctor.user.image.attached? %>
                <%= image_tag doctor.user.image, class: "img-fluid rounded-circle me-3", width: "50", alt: "avatar"  %>
              <% else %>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="img-fluid rounded-circle me-3" width="50">
              <% end %>
              </a>
              <i class="fas fa-plus">
              <%= link_to t('view.make_an_appointment'), new_doctors_appointment_url(doctor_id: doctor.id), class: "btn btn-outline-dark btn-sm btn-floating" %>
              </i>
            </div>
            <hr class="my-4">
            <div class="d-flex justify-content-start align-items-center">
            <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span class="text-muted small">
            <% if I18n.locale == :ua %>
              <%= doctor.categories&.first&.name_ua %>
            <% else %>
              <%= doctor.categories&.first&.name_en %>
            <% end %>
            </span></p>
            <% doctor.patient_profiles.each do |patient| %>
              <p class="mb-0 text-uppercase"><i class="fas fa-cog me-2"></i> <span
                  class="text-muted small"></span></p>
              <a>
              <%# avatar %>
              <% if patient.user.image.attached? %>
                <%= image_tag patient.user.image, class: "img-fluid rounded-circle me-3", width: "35", alt: "avatar"  %>
              <% else %>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="img-fluid rounded-circle me-3" width="35">
              <% end %>
              </a>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
