<span class="user">
  <span class="user-name">
    <% if request.path == watching_path(watching) %>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>FIELD</th>
          <th>DATA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">IP:</th>
          <td><%# ip %>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= @watching.ip %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CITY:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= @watching.city %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">ISP:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= @watching.isp %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CONTINENT CODE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= @watching.continent_code %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CONTINENT NAME:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.continent_name %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">COUNTRY CODE2:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.country_code2 %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">COUNTRY CODE3:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.country_code3 %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">COUNTRY NAME:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.country_name %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">COUNTRY CAPITAL:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.country_capital %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">STATE PROV:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.state_prov %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">STATE CODE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.state_code %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">DISTRICT:</th>
          <td><%# ip %>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.district %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">ZIPCODE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.zipcode %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">LATITUDE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.latitude %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">LONGITUDE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.longitude %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">IS EU:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.is_eu %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CALLING CODE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.calling_code %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">COUNTRY TLD:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.country_tld %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">LANGUAGES:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.languages %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">COUNTRY FLAG:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <img src=<%= watching.country_flag %> alt="country flag">
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">GEONAME ID:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.geoname_id %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">CONNECTION TYPE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.connection_type %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">ORGANIZATION:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.organization %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">COUNTRY EMOJI:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.country_emoji %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">CURRENCY:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
              <% watching.currency.each do |key, value| %>
                <p class="text-muted mb-0"><b><%= key %>:</b> <%= value %></p>
              <% end %>
              </div>
            </div>
          </td>
        </tr>
        <tr>      
          <th scope="row">TIME ZONE:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <% watching.time_zone.each do |key, value| %>
                  <% if value.class == Hash %>
                    <hr>
                    <p><b><%= key %>:</b></p>
                    <% value.each do |k, v|%>
                      <var class="text-muted mb-0"><b><%= k %>:</b> <%= v %></var>
                    <hr>
                    <% end %>
                  <% else %>
                    <p class="text-muted mb-0"><%= key %>: <%= value %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">VIEWING:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.viewing %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CREATED AT:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.created_at %></p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">UPDATED AT:</th>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="text-muted mb-0"><%= watching.updated_at %></p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <% else %>
      <%= link_to root_path %>
    <% end %>
  </span>
</span>
<hr>
