<h2><%= t('activerecord.attributes.user.forgot_your_password') %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%# <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, t('activerecord.attributes.user.reset_password'), class: "btn btn-large btn-danger", "data-disable-with" => "Submitting.."%>
  </div>
<% end %>
<br>
<%= render "users/shared/links" %>
