<section style="background-color: #eee;">
    <div class="row">
      <div class="col-lg-4">
      <%# doctor %>
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%= @doctor_profile.user.username %></h5>
            <p class="text-muted mb-1"><%= @doctor_profile.user.email %></p>
            <p class="text-muted mb-4"><%= @doctor_profile.user.phone_number %></p>
            <div class="d-flex justify-content-center mb-2">
              <%= link_to t('view.user.type.doctor'), @doctor_profile, class: 'btn btn-info' %>
            </div>
          </div>
        </div>
      <%# patient %>
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"><%= @patient_profile.user.username %></h5>
            <p class="text-muted mb-1"><%= @patient_profile.user.email %></p>
            <p class="text-muted mb-4"><%= @patient_profile.user.phone_number %></p>
            <div class="d-flex justify-content-center mb-2">
              <%= link_to t('view.user.type.patient'), @patient_profile, class: 'btn btn-info' %>
            </div>
          </div>
        </div>

        <%# appointment %>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= t('view.appointments.visit_time')%></p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= date_format(@appointment.visit_time) %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><%= t('view.recomendation')%></p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @appointment.description%></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
