<h2><%= t('activerecord.attributes.user.change_password') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group">
    <%= f.input :email, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.input :current_password, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>
    <%= f.input :password, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>
    <%= f.input :password_confirmation, class: 'form-control', error_class: 'is-invalid', valid_class: 'is-valid' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('activerecord.attributes.user.update'), class: "btn btn-large btn-primary", "data-disable-with" => "Submitting.." %>
  </div>
<% end %>

<p><%= t('activerecord.attributes.user.unhappy')%> </p>
<%= button_to t('activerecord.attributes.user.cancel_account'), registration_path(resource_name), data: { confirm: t('simple_form.labels.defaults.confirm') }, method: :delete, class: "btn btn-large btn-danger", "data-disable-with" => "Submitting.." %></p>

<%= link_to t('simple_form.button.back'), :back %>
