<h2><%= t('activerecord.attributes.user.sign_up') %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= render "users/shared/error_messages", resource: resource %>
  
  <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
  <% end %>

  <div class="form-inputs">
    <%= f.input :type,
                as: :select,
                collection: User::TYPES.keys,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "type" }%>
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <%= f.input :phone_number,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "phone_number" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} #{ t("simple_form.labels.defaults.characters")}"if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('activerecord.attributes.user.sign_up'), class: "btn btn-large btn-danger", "data-disable-with" => "Submitting.."%>
  </div>
<% end %>
